@{
    ViewBag.Title = "Restaurant rater";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->

<p>bitch about your totally fine dining experience here so all of your friends know you're a karen</p>
