@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">RR does things I guess</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Rate a restaurant</h2>
        <p>
            Do it loser
        </p>
        <p><a class="btn btn-default" href="/Restaurant/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact the owners</h2>
        <p>bet you won't</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn more</h2>
        <p>or don't</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>